In [3]:
import pandas as pd
from sklearn.model_selection import train_test_split
import pickle

# Load Dataset

In [5]:
data = pd.read_csv('../../data/data.csv')
data = data.drop(columns=['state_fips_code', 'county_fips_code', 'case_month'])
data.pop_estimate_2019 = data.pop_estimate_2019.str.replace(',', '').astype(float)
data = data.astype(float)
data

,hosp_yn,death_yn,sex_female,age_0,age_18,age_50,age_65,race_native,race_asian,race_black,...,economic_typology_2015,pop_estimate_2019,less_hs_pct,hs_only_pct,some_college_pct,bachelor_higher_pct,unempl_rate,med_hh_income_19,med_hh_income_pct_state_total_19,poverty_pct_19
0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,55869.0,11.5,33.6,28.4,26.6,4.9,58233.0,112.481888,12.1
1,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,55869.0,11.5,33.6,28.4,26.6,4.9,58233.0,112.481888,12.1
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,55869.0,11.5,33.6,28.4,26.6,4.9,58233.0,112.481888,12.1
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,55869.0,11.5,33.6,28.4,26.6,4.9,58233.0,112.481888,12.1
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,55869.0,11.5,33.6,28.4,26.6,4.9,58233.0,112.481888,12.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3151441,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,72999.0,7.3,38.0,33.0,21.6,6.7,57325.0,89.323280,10.7
3151442,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,72999.0,7.3,38.0,33.0,21.6,6.7,57325.0,89.323280,10.7
3151443,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,72999.0,7.3,38.0,33.0,21.6,6.7,57325.0,89.323280,10.7
3151444,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,72999.0,7.3,38.0,33.0,21.6,6.7,57325.0,89.323280,10.7
3151445,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,72999.0,7.3,38.0,33.0,21.6,6.7,57325.0,89.323280,10.7

# Convert Dataset

In [10]:
Z = data.iloc[:, :].values.astype(float)
del data

X, y = Z[:, 2:], Z[:, :2]
del Z

# Split Dataset

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=20210927)

# Write Datasets

In [12]:
with open('../../data/data_train.pt', 'wb') as file:
    pickle.dump((X_train, y_train), file)

In [13]:
with open('../../data/data_test.pt', 'wb') as file:
    pickle.dump((X_test, y_test), file)

# Test Functionality

In [14]:
with open('../../data/data_train.pt', 'rb') as file:
    X_train_loaded, y_train_loaded = pickle.load(file)

In [15]:
X_train_loaded.shape, y_train.shape

((192638, 28), (192638, 2))

In [16]:
with open('../../data/data_test.pt', 'rb') as file:
    X_test_loaded, y_test_loaded = pickle.load(file)

In [17]:
X_test_loaded.shape, y_test.shape

((48160, 28), (48160, 2))