In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../data/COVID-19_Case_Surveillance_Public_Use_Data_with_Geography.csv')

C:\Users\paulsaegert\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
data

,case_month,res_state,state_fips_code,res_county,county_fips_code,age_group,sex,race,ethnicity,case_positive_specimen_interval,case_onset_interval,process,exposure_yn,current_status,symptom_status,hosp_yn,icu_yn,death_yn,underlying_conditions_yn
0,2020-12,MN,27.0,DODGE,27039.0,18 to 49 years,NaN,NaN,NaN,-1.0,0.0,Missing,Missing,Laboratory-confirmed case,Symptomatic,Missing,Missing,No,NaN
1,2020-11,MI,26.0,GLADWIN,26051.0,18 to 49 years,NaN,NaN,NaN,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Unknown,NaN
2,2021-04,VT,50.0,ORLEANS,50019.0,18 to 49 years,NaN,NaN,NaN,0.0,0.0,Multiple,Yes,Laboratory-confirmed case,Symptomatic,No,Missing,NaN,Yes
3,2020-11,AL,1.0,LIMESTONE,1083.0,0 - 17 years,Female,Missing,Missing,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
4,2021-01,NY,36.0,SCHOHARIE,36095.0,0 - 17 years,Female,NaN,NaN,0.0,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,No,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27879428,2020-07,GA,13.0,NaN,NaN,0 - 17 years,Male,Unknown,Missing,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
27879429,2020-07,GA,13.0,NaN,NaN,0 - 17 years,Male,Unknown,Missing,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
27879430,2020-07,GA,13.0,NaN,NaN,0 - 17 years,Male,Unknown,Missing,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
27879431,2020-07,GA,13.0,NaN,NaN,0 - 17 years,Male,Unknown,Missing,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN
27879432,2020-07,GA,13.0,NaN,NaN,0 - 17 years,Male,Unknown,Missing,NaN,NaN,Missing,Missing,Laboratory-confirmed case,Missing,Missing,Missing,Missing,NaN

In [4]:
data = data.drop(columns=['process', 'exposure_yn', 'icu_yn', 'case_positive_specimen_interval', 'underlying_conditions_yn', 'res_state', 'res_county'])
data = data.dropna()
data

,case_month,state_fips_code,county_fips_code,age_group,sex,race,ethnicity,case_onset_interval,current_status,symptom_status,hosp_yn,death_yn
12,2020-11,17.0,17063.0,18 to 49 years,Female,Missing,Missing,0.0,Laboratory-confirmed case,Missing,Missing,Missing
30,2020-10,17.0,17049.0,65+ years,Male,Missing,Missing,0.0,Probable Case,Missing,Missing,Missing
43,2020-11,8.0,8059.0,0 - 17 years,Female,Missing,Hispanic/Latino,0.0,Laboratory-confirmed case,Symptomatic,No,Missing
46,2021-03,17.0,17089.0,18 to 49 years,Female,Missing,Hispanic/Latino,0.0,Laboratory-confirmed case,Missing,Missing,Missing
47,2021-02,34.0,34003.0,18 to 49 years,Female,Asian,Hispanic/Latino,0.0,Laboratory-confirmed case,Symptomatic,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...
27569920,2020-12,6.0,6037.0,18 to 49 years,Unknown,White,Hispanic/Latino,0.0,Laboratory-confirmed case,Symptomatic,Unknown,No
27569970,2020-12,6.0,6037.0,18 to 49 years,Unknown,White,Hispanic/Latino,0.0,Laboratory-confirmed case,Symptomatic,Unknown,No
27570159,2020-12,6.0,6037.0,50 to 64 years,Unknown,White,Hispanic/Latino,0.0,Laboratory-confirmed case,Symptomatic,Yes,No
27570203,2020-12,6.0,6037.0,50 to 64 years,Unknown,White,Hispanic/Latino,0.0,Laboratory-confirmed case,Symptomatic,Unknown,No
27570281,2020-12,6.0,6037.0,50 to 64 years,Unknown,White,Hispanic/Latino,0.0,Laboratory-confirmed case,Symptomatic,Unknown,No

## Binary Categories

In [5]:
# print(np.unique(data.current_status))
data.current_status = data.current_status.map({'Laboratory-confirmed case': 1, 'Probable Case': 0}).astype(int)

In [6]:
# print(np.unique(data.sex))
data['sex_female'] = data.sex.map({'Female': 1, 'Male': 0, 'Missing': -1, 'Other': -1, 'Unknown': -1}).astype(int)
data = data.drop(columns=['sex'])

In [7]:
# print(np.unique(data.hosp_yn))
data.hosp_yn = data.hosp_yn.map({'No': 0, 'Yes': 1, 'Missing': -1, 'Unknown': -1}).astype(int)

In [8]:
# print(np.unique(data.death_yn))
data.death_yn = data.death_yn.map({'No': 0, 'Yes': 1, 'Missing': -1, 'Unknown': -1}).astype(int)

In [9]:
data.symptom_status = data.symptom_status.map({'Symptomatic': 1, 'Missing': 0}).astype(int)

In [10]:
data

,case_month,state_fips_code,county_fips_code,age_group,race,ethnicity,case_onset_interval,current_status,symptom_status,hosp_yn,death_yn,sex_female
12,2020-11,17.0,17063.0,18 to 49 years,Missing,Missing,0.0,1,0,-1,-1,1
30,2020-10,17.0,17049.0,65+ years,Missing,Missing,0.0,0,0,-1,-1,0
43,2020-11,8.0,8059.0,0 - 17 years,Missing,Hispanic/Latino,0.0,1,1,0,-1,1
46,2021-03,17.0,17089.0,18 to 49 years,Missing,Hispanic/Latino,0.0,1,0,-1,-1,1
47,2021-02,34.0,34003.0,18 to 49 years,Asian,Hispanic/Latino,0.0,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
27569920,2020-12,6.0,6037.0,18 to 49 years,White,Hispanic/Latino,0.0,1,1,-1,0,-1
27569970,2020-12,6.0,6037.0,18 to 49 years,White,Hispanic/Latino,0.0,1,1,-1,0,-1
27570159,2020-12,6.0,6037.0,50 to 64 years,White,Hispanic/Latino,0.0,1,1,1,0,-1
27570203,2020-12,6.0,6037.0,50 to 64 years,White,Hispanic/Latino,0.0,1,1,-1,0,-1
27570281,2020-12,6.0,6037.0,50 to 64 years,White,Hispanic/Latino,0.0,1,1,-1,0,-1

## Age Groups

In [11]:
data.age_group = data.age_group.map({'0 - 17 years': 0, '18 to 49 years': 18, '50 to 64 years': 50, '65+ years': 65, 'Missing': 'missing'})

data = pd.concat([data, pd.get_dummies(data['age_group'], prefix='age')], axis=1)
data = data.drop(columns=['age_group'])
data.head()

,case_month,state_fips_code,county_fips_code,race,ethnicity,case_onset_interval,current_status,symptom_status,hosp_yn,death_yn,sex_female,age_0,age_18,age_50,age_65,age_missing
12,2020-11,17.0,17063.0,Missing,Missing,0.0,1,0,-1,-1,1,0,1,0,0,0
30,2020-10,17.0,17049.0,Missing,Missing,0.0,0,0,-1,-1,0,0,0,0,1,0
43,2020-11,8.0,8059.0,Missing,Hispanic/Latino,0.0,1,1,0,-1,1,1,0,0,0,0
46,2021-03,17.0,17089.0,Missing,Hispanic/Latino,0.0,1,0,-1,-1,1,0,1,0,0,0
47,2021-02,34.0,34003.0,Asian,Hispanic/Latino,0.0,1,1,0,0,1,0,1,0,0,0

## Races/Ethnicities

In [12]:
data['race_missing'] = np.logical_or(data.race.str.contains('Missing'), data.race.str.contains('Unknown'))
data['ethnicity_missing'] = np.logical_or(data.ethnicity.str.contains('Missing'), data.ethnicity.str.contains('Unknown'))
data.head()

,case_month,state_fips_code,county_fips_code,race,ethnicity,case_onset_interval,current_status,symptom_status,hosp_yn,death_yn,sex_female,age_0,age_18,age_50,age_65,age_missing,race_missing,ethnicity_missing
12,2020-11,17.0,17063.0,Missing,Missing,0.0,1,0,-1,-1,1,0,1,0,0,0,True,True
30,2020-10,17.0,17049.0,Missing,Missing,0.0,0,0,-1,-1,0,0,0,0,1,0,True,True
43,2020-11,8.0,8059.0,Missing,Hispanic/Latino,0.0,1,1,0,-1,1,1,0,0,0,0,True,False
46,2021-03,17.0,17089.0,Missing,Hispanic/Latino,0.0,1,0,-1,-1,1,0,1,0,0,0,True,False
47,2021-02,34.0,34003.0,Asian,Hispanic/Latino,0.0,1,1,0,0,1,0,1,0,0,0,False,False

In [13]:
data['race_native'] = data.race.str.contains('American Indian/Alaska Native')
data['race_asian'] = data.race.str.contains('Asian')
data['race_black'] = data.race.str.contains('Black')
data['race_other'] = data.race.str.contains('Multiple/Other')
data['race_native_pacific'] = data.race.str.contains('Native Hawaiian/Other Pacific Islander')
data['race_white'] = data.race.str.contains('White')

data['ethnicity_hispanic'] = data.ethnicity.str.contains('Hispanic/Latino')

data = data.drop(columns=['race', 'ethnicity'])
data

,case_month,state_fips_code,county_fips_code,case_onset_interval,current_status,symptom_status,hosp_yn,death_yn,sex_female,age_0,...,age_missing,race_missing,ethnicity_missing,race_native,race_asian,race_black,race_other,race_native_pacific,race_white,ethnicity_hispanic
12,2020-11,17.0,17063.0,0.0,1,0,-1,-1,1,0,...,0,True,True,False,False,False,False,False,False,False
30,2020-10,17.0,17049.0,0.0,0,0,-1,-1,0,0,...,0,True,True,False,False,False,False,False,False,False
43,2020-11,8.0,8059.0,0.0,1,1,0,-1,1,1,...,0,True,False,False,False,False,False,False,False,True
46,2021-03,17.0,17089.0,0.0,1,0,-1,-1,1,0,...,0,True,False,False,False,False,False,False,False,True
47,2021-02,34.0,34003.0,0.0,1,1,0,0,1,0,...,0,False,False,False,True,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27569920,2020-12,6.0,6037.0,0.0,1,1,-1,0,-1,0,...,0,False,False,False,False,False,False,False,True,True
27569970,2020-12,6.0,6037.0,0.0,1,1,-1,0,-1,0,...,0,False,False,False,False,False,False,False,True,True
27570159,2020-12,6.0,6037.0,0.0,1,1,1,0,-1,0,...,0,False,False,False,False,False,False,False,True,True
27570203,2020-12,6.0,6037.0,0.0,1,1,-1,0,-1,0,...,0,False,False,False,False,False,False,False,True,True
27570281,2020-12,6.0,6037.0,0.0,1,1,-1,0,-1,0,...,0,False,False,False,False,False,False,False,True,True

In [14]:
drop_mask = (
    (data.current_status == 0)
    # Features
    | (data.sex_female == -1) | (data.age_missing == 1) | (data.race_missing)
    # Dependent Variables
    | (data.hosp_yn == -1) | (data.death_yn == -1)
)
data = data.loc[np.logical_not(drop_mask)]

In [15]:
data.iloc[:, 4:] = data.iloc[:, 4:].astype(bool)

C:\Users\paulsaegert\AppData\Local\Programs\Python\Python39\lib\site-packages\pandas\core\indexing.py:1754: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, val, pi)

In [16]:
data = data.reset_index()
data = data.drop(columns=['index', 'age_missing', 'race_missing', 'ethnicity_missing', 'current_status'])

In [17]:
data.state_fips_code = data.state_fips_code.astype(int)
data.county_fips_code = data.county_fips_code.astype(int)
data.case_onset_interval = data.case_onset_interval.astype(int)

data

,case_month,state_fips_code,county_fips_code,case_onset_interval,symptom_status,hosp_yn,death_yn,sex_female,age_0,age_18,age_50,age_65,race_native,race_asian,race_black,race_other,race_native_pacific,race_white,ethnicity_hispanic
0,2021-02,34,34003,0,True,False,False,True,False,True,False,False,False,True,False,False,False,False,True
1,2020-06,37,37107,0,True,False,False,True,False,True,False,False,False,False,False,False,False,True,True
2,2021-02,51,51700,0,True,False,False,True,False,True,False,False,False,False,False,True,False,False,True
3,2020-05,37,37163,0,True,False,False,True,True,False,False,False,False,False,False,False,False,True,True
4,2021-02,51,51540,0,True,False,False,True,False,True,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3718686,2020-04,6,6037,0,True,True,True,False,False,False,False,True,False,False,False,False,False,True,True
3718687,2020-04,6,6037,0,True,True,True,False,False,False,False,True,False,False,False,False,False,True,True
3718688,2020-04,6,6037,0,True,True,True,False,False,False,False,True,False,False,False,False,False,True,True
3718689,2020-04,6,6037,0,True,True,True,False,False,False,False,True,False,False,False,False,False,True,True
3718690,2021-06,6,6037,0,True,True,False,False,False,False,False,True,False,False,False,False,False,True,True

In [18]:
data = data[list(data.columns.values)[5:] + list(data.columns.values[:5])]

In [19]:
data.to_csv('../data/data_geo.csv')