In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../data/COVID-19_Case_Surveillance_Public_Use_Data.csv')

In [3]:
data

,cdc_case_earliest_dt,cdc_report_dt,pos_spec_dt,onset_dt,current_status,sex,age_group,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn
0,2021/04/25,2021/04/25,NaN,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Unknown,Missing,Missing,Missing
1,2020/12/22,2020/12/22,NaN,NaN,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Missing,No,Unknown
2,2020/11/19,2020/11/25,NaN,2020/11/19,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,Missing
3,2020/12/30,2020/12/31,NaN,2020/12/30,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,Missing,Missing
4,2021/03/26,2021/03/31,2021/03/27,2021/03/26,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Unknown,No,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
27879428,2020/12/14,2020/12/14,NaN,NaN,Laboratory-confirmed case,Female,50 - 59 Years,"White, Non-Hispanic",Missing,Missing,Unknown,Missing
27879429,2020/07/24,2020/07/29,NaN,2020/07/24,Probable Case,Female,50 - 59 Years,"White, Non-Hispanic",No,No,No,Missing
27879430,2021/01/04,2021/03/03,NaN,2021/01/04,Laboratory-confirmed case,Female,50 - 59 Years,"White, Non-Hispanic",Missing,Missing,Missing,Missing
27879431,2021/03/03,2021/04/20,2021/03/03,NaN,Probable Case,Female,50 - 59 Years,"White, Non-Hispanic",Missing,Missing,No,Missing
27879432,2020/10/10,2020/10/13,2020/10/11,2020/10/10,Laboratory-confirmed case,Female,50 - 59 Years,"White, Non-Hispanic",No,Missing,Missing,Missing

In [4]:
data = data.drop(columns=['cdc_case_earliest_dt ', 'cdc_report_dt', 'pos_spec_dt', 'onset_dt'])
data.head()

,current_status,sex,age_group,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn
0,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Unknown,Missing,Missing,Missing
1,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Missing,No,Unknown
2,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,No,No,Missing
3,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",Missing,Missing,Missing,Missing
4,Laboratory-confirmed case,Male,10 - 19 Years,"Black, Non-Hispanic",No,Unknown,No,Unknown

In [5]:
data = data.dropna()

## Binary Categories

In [6]:
# print(np.unique(data.current_status))
data.current_status = data.current_status.map({'Laboratory-confirmed case': 1, 'Probable Case': 0}).astype(int)

In [7]:
# print(np.unique(data.sex))
data.sex = data.sex.map({'Female': 1, 'Male': 0, 'Missing': -1, 'Other': -1, 'Unknown': -1}).astype(int)

In [8]:
# print(np.unique(data.hosp_yn))
data.hosp_yn = data.hosp_yn.map({'No': 0, 'Yes': 1, 'Missing': -1, 'Unknown': -1}).astype(int)

In [9]:
# print(np.unique(data.icu_yn))
data.icu_yn = data.icu_yn.map({'No': 0, 'Yes': 1, 'Missing': -1, 'Unknown': -1}).astype(int)

In [10]:
# print(np.unique(data.death_yn))
data.death_yn = data.death_yn.map({'No': 0, 'Yes': 1, 'Missing': -1, 'Unknown': -1}).astype(int)

In [11]:
# print(np.unique(data.medcond_yn))
data.medcond_yn = data.medcond_yn.map({'No': 0, 'Yes': 1, 'Missing': -1, 'Unknown': -1}).astype(int)

## Age Groups

In [12]:
data.age_group = data.age_group.map({'0 - 9 Years': 0, '10 - 19 Years': 10, '20 - 29 Years': 20, '30 - 39 Years': 30, '40 - 49 Years': 40, '50 - 59 Years': 50, '60 - 69 Years': 60, '70 - 79 Years': 70, '80+ Years': 80, 'Missing': 'missing'})

data = pd.concat([data, pd.get_dummies(data['age_group'], prefix='age')], axis=1)
data = data.drop(columns=['age_group'])
data.head()

,current_status,sex,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn,age_0,age_10,age_20,age_30,age_40,age_50,age_60,age_70,age_80,age_missing
0,1,0,"Black, Non-Hispanic",-1,-1,-1,-1,0,1,0,0,0,0,0,0,0,0
1,1,0,"Black, Non-Hispanic",0,-1,0,-1,0,1,0,0,0,0,0,0,0,0
2,1,0,"Black, Non-Hispanic",0,0,0,-1,0,1,0,0,0,0,0,0,0,0
3,1,0,"Black, Non-Hispanic",-1,-1,-1,-1,0,1,0,0,0,0,0,0,0,0
4,1,0,"Black, Non-Hispanic",0,-1,0,-1,0,1,0,0,0,0,0,0,0,0

## Races/Ethnicities

In [13]:
data['race_missing'] = np.logical_or(data.race_ethnicity_combined.str.contains('Missing'), data.race_ethnicity_combined.str.contains('Unknown'))
data.head()

,current_status,sex,race_ethnicity_combined,hosp_yn,icu_yn,death_yn,medcond_yn,age_0,age_10,age_20,age_30,age_40,age_50,age_60,age_70,age_80,age_missing,race_missing
0,1,0,"Black, Non-Hispanic",-1,-1,-1,-1,0,1,0,0,0,0,0,0,0,0,False
1,1,0,"Black, Non-Hispanic",0,-1,0,-1,0,1,0,0,0,0,0,0,0,0,False
2,1,0,"Black, Non-Hispanic",0,0,0,-1,0,1,0,0,0,0,0,0,0,0,False
3,1,0,"Black, Non-Hispanic",-1,-1,-1,-1,0,1,0,0,0,0,0,0,0,0,False
4,1,0,"Black, Non-Hispanic",0,-1,0,-1,0,1,0,0,0,0,0,0,0,0,False

In [14]:
data['race_native'] = data.race_ethnicity_combined.str.contains('American Indian/Alaska Native')
data['race_native_pacific'] = data.race_ethnicity_combined.str.contains('Native Hawaiian/Other Pacific Islander')
data['race_black'] = data.race_ethnicity_combined.str.contains('Black')
data['race_white'] = data.race_ethnicity_combined.str.contains('White')
data['race_asian'] = data.race_ethnicity_combined.str.contains('Asian')
data['race_hispanic'] = data.race_ethnicity_combined.str.contains('Hispanic/Latino')
data['race_other'] = data.race_ethnicity_combined.str.contains('Multiple/Other')

data = data.drop(columns=['race_ethnicity_combined'])
data

,current_status,sex,hosp_yn,icu_yn,death_yn,medcond_yn,age_0,age_10,age_20,age_30,...,age_80,age_missing,race_missing,race_native,race_native_pacific,race_black,race_white,race_asian,race_hispanic,race_other
0,1,0,-1,-1,-1,-1,0,1,0,0,...,0,0,False,False,False,True,False,False,False,False
1,1,0,0,-1,0,-1,0,1,0,0,...,0,0,False,False,False,True,False,False,False,False
2,1,0,0,0,0,-1,0,1,0,0,...,0,0,False,False,False,True,False,False,False,False
3,1,0,-1,-1,-1,-1,0,1,0,0,...,0,0,False,False,False,True,False,False,False,False
4,1,0,0,-1,0,-1,0,1,0,0,...,0,0,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27879428,1,1,-1,-1,-1,-1,0,0,0,0,...,0,0,False,False,False,False,True,False,False,False
27879429,0,1,0,0,0,-1,0,0,0,0,...,0,0,False,False,False,False,True,False,False,False
27879430,1,1,-1,-1,-1,-1,0,0,0,0,...,0,0,False,False,False,False,True,False,False,False
27879431,0,1,-1,-1,0,-1,0,0,0,0,...,0,0,False,False,False,False,True,False,False,False
27879432,1,1,0,-1,-1,-1,0,0,0,0,...,0,0,False,False,False,False,True,False,False,False

In [15]:
# data.to_csv('../data/all_clean.csv')

In [16]:
drop_mask = (
    (data.current_status == 0)
    # Features
    | (data.sex == -1) | (data.medcond_yn == -1) | (data.age_missing == 1) | (data.hosp_yn == -1) | (data.race_missing)
    # Dependent Variables
    | (data.hosp_yn == -1) | (data.death_yn == -1)
)

In [21]:
data = data.loc[np.logical_not(drop_mask)]
data = data.reset_index()
data = data.astype(bool)
data = data.drop(columns=['index', 'age_missing', 'race_missing', 'icu_yn'])
data

,current_status,sex,hosp_yn,death_yn,medcond_yn,age_0,age_10,age_20,age_30,age_40,...,age_60,age_70,age_80,race_native,race_native_pacific,race_black,race_white,race_asian,race_hispanic,race_other
0,True,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
1,True,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,True,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,True,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4,True,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1483211,True,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1483212,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1483213,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1483214,True,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1483215,True,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [22]:
data.to_csv('../data/no_icu_clean.csv')